.header{
  text-align: center;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}
.w-full{
  width: 100%;
  padding: 1rem;
}
.border{
  border: 2px solid black;
  padding: 1rem;
  border-radius: 1rem;
  font-size: medium;

}
.span{
  font-weight: 600;
}